<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Restock</servlet-name>
  	<display-name>Restock</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.Restock</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginAuthentication</servlet-name>
  	<display-name>LoginAuthentication</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.LoginAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Restock</servlet-name>
  	<url-pattern>/Restock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginAuthentication</servlet-name>
  	<url-pattern>/LoginAuthentication</url-pattern>
  </servlet-mapping>
</web-app>
